@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #ffffff;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
input{
    font-family: BrandonGrotesque;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1c264a;
}
.question{
  font-size: 30px;
  margin-bottom: 40px;

  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1c264a;
}
.answers {
  margin-bottom: 20px;
  text-align: middle;
  
  display: inline;
}
.answers label{
  display: inline;
  margin-bottom: 10px;

}
#rectangle {
  border: solid 12px #dd918e;
}
input{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #ffffff;
	border: solid 5px #dd918e;
	border-radius: 0px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1c264a;
}
input:hover{
	background-color: #dd918e;
  border: solid 0px #dd918e;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}



/*new starts here*/

section {
  display: flex;
  flex-flow: row wrap;
}
section > div {
  flex: 1;
  padding: 0.5rem;
}
input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {

    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);

    box-shadow: none;
    cursor: not-allowed;

    font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #ffffff;
	border: solid 5px #dd918e;
	border-radius: 0px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1c264a;
  }
}
label {

  /*height: 100%;
  display: block;
  background: white;
  border: 2px solid hsla(150, 75%, 50%, 1);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  //margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;*/

  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #ffffff;
	border: solid 5px #dd918e;
	border-radius: 0px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1c264a;
}
label:hover{
	background-color: #dd918e;
  border: solid 0px #dd918e;
}
input[type="radio"]:checked + label {

  /*background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);*/
  /*&::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);*/
  /*  content: "\f00c";*/
    /*font-size: 24px;*/
   /* position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);*/

    font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #ffffff;
	border: solid 5px #dd918e;
	border-radius: 0px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1c264a;
 /* }*/
}
p {
  font-weight: 900;
}


