<!DOCTYPE html>

<html>
    <head>
    </head>
    <h2>Image Classifier</h2>
    <div>
        <form id="upload-file" method="POST" enctype="multipart/form-data" action='/predict' >
            <label for="imageUpload" class="upload-label">
                Choose...
            </label>
            <input type="file" name="image" id="imageUpload" accept=".png">
        </form>
            <Button value="Predict!" type="submit"/>
            <h2 id="predict-value">Prediction</h2>
    
        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
            <div>
            </div>
        </div>
    
        <div class="loader" style="display:none;"></div>
    
        <h3 id="result">
            <span> </span>
        </h3>
    
    </div>
</html>
